:root {
  --black: #000;
  --black-75: rgba(0, 0, 0, 0.75);
  --black-50: rgba(0, 0, 0, 0.5);
  --black-25: rgba(0, 0, 0, 0.25);
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Fira Sans", sans-serif;
  color: var(--black);
  font-size: 14px;
  padding: 72px;
}

h1 {
  font-family: "Nova Cut", sans-serif;
}

/* ----------Header--------- */
.header {
  display: grid;
  grid-template-columns: 88px 1fr 88px;
  justify-items: center;
  align-items: center;
  padding-bottom: 32px;
  border-bottom: 1px solid var(--black-25);
}

.title-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}
.title {
  font-size: 72px;
  line-height: 100%;
  text-align: center;
}

.date {
  line-height: 129%;
  text-align: center;
  color: var(--black-50);
}
.circle {
  width: 88px;
  height: 88px;
  border-radius: 100%;
  background-color: var(--black-25);
}

/* -------Layout-------- */

.layout {
  padding: 32px 0;
  border-bottom: 1px solid var(--black-25);
}
.layout-title {
  font-weight: 700;
  font-size: 80px;
  line-height: 105%;
  text-align: center;
}

/* -----first-section------- */

.first-section {
  padding: 32px 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 24px;
  border-bottom: 1px solid var(--black-25);
}

.first-section-article {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.first-section-article:nth-child(even) {
  gap: 12px;
}

.first-section-article:first-child {
  width: 576px;
}
.first-section-article:last-child .title-article {
  font-size: 48px;
  line-height: 117%;
}

.title-author-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}
.first-section-article:first-child .title-author-wrapper {
  gap: 4px;
  height: 236px;
}
.title-article {
  font-weight: 700;
  font-size: 64px;
  line-height: 112%;
}

.author-article {
  font-size: 12px;
  color: var(--black-50);
}

.text-article {
  font-size: 18px;
}

.background-for-img {
  width: 726px;
  height: 484px;
  background-color: var(--black-25);
}
.description-for-img {
  font-size: 12px;
}
