:root {
  --black: #000;
  --black-75: rgba(0, 0, 0, 0.75);
  --black-50: rgba(0, 0, 0, 0.5);
  --black-25: rgba(0, 0, 0, 0.25);
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Fira Sans", sans-serif;
  color: var(--black);
  font-size: 14px;
  padding: 72px;
}

h1 {
  font-family: "Nova Cut", sans-serif;
}

.section {
  padding: 32px 0;
  display: grid;
  border-bottom: 1px solid var(--black-25);
}

.title-author-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}

.article {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  align-content: start;
}

.author {
  font-size: 12px;
  line-height: 133%;
  color: var(--black-50);
}
/* ----------Header--------- */
.header {
  display: grid;
  grid-template-columns: 88px 1fr 88px;
  justify-items: center;
  align-items: center;
  padding-bottom: 32px;
  border-bottom: 1px solid var(--black-25);
}

.title-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}
.title {
  font-size: 72px;
  line-height: 100%;
  text-align: center;
}

.date {
  line-height: 129%;
  text-align: center;
  color: var(--black-50);
}
.circle {
  width: 88px;
  height: 88px;
  border-radius: 100%;
  background-color: var(--black-25);
}

/* -------Layout-------- */

.layout {
  padding: 32px 0;
  border-bottom: 1px solid var(--black-25);
}
.layout-title {
  font-weight: 700;
  font-size: 80px;
  line-height: 105%;
  text-align: center;
}

/* -----first-section------- */

.first-section {
  grid-template-columns: repeat(3, auto);
  gap: 24px;
}

.image-article {
  gap: 12px;
}

.first-section .article:first-child {
  max-width: 576px;
}
.first-section .article:last-child {
  max-width: 426px;
}

.first-section-article:first-child .title-author-wrapper {
  gap: 4px;
  height: 236px;
}
.title-article {
  font-weight: 700;
  font-size: 64px;
  line-height: 112%;
}

.title-second-article {
  font-weight: 700;
  font-size: 48px;
  line-height: 117%;
}

.text-article {
  font-size: 18px;
  line-height: 133%;
}

.background-for-img {
  width: 726px;
  height: 484px;
  background-color: var(--black-25);
}
.description-for-img {
  font-size: 12px;
}

/* --------second section ------ */

.second-section {
  grid-template-areas: "a b c ";
  gap: 12px;
}

.second-section-article-first {
  max-width: 288px;
  grid-area: a;
  padding-right: 12px;
  border-right: 1px solid var(--black-25);
}

.second-section-article-second {
  grid-area: b;
  max-width: 288px;
  padding-right: 12px;
  border-right: 1px solid var(--black-25);
}

.second-section-article-third {
  grid-area: c;
}

.article-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 122%;
}

.second-section-text-wrapper {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 24px;
}

.article-text {
  line-height: 129%;
}

/* --------third section-------- */

.third-section {
  display: grid;
  padding-top: 32px;
  column-gap: 12px;
  grid-template-areas:
    "e f g"
    "e f h";
}

.third-section-first-article {
  grid-area: e;
  padding-right: 12px;
  border-right: 1px solid var(--black-25);
  max-width: 438px;
}
.third-section-image {
  width: 426px;
  height: 284px;
  background-color: var(--black-25);
}

.third-section-second-article {
  grid-area: f;
  max-width: 288px;
  padding-right: 12px;
  border-right: 1px solid var(--black-25);
}

.third-section-third-article {
  grid-area: g;
  display: grid;
  grid-template-columns: 276px 1fr;
  gap: 24px;
  padding-bottom: 32px;
  /* max-height: 280px; */
  border-bottom: 1px solid var(--black-25);
}

.third-section-third-article h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 167%;
}

.third-section-fourth-article {
  padding-top: 32px;
  grid-area: h;
}

/* ------table------ */

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  border: 1px solid var(--black);
  padding: 12px;
  width: 121px;
  height: 40px;
  font-size: 12px;
  line-height: 133%;
}
th {
  border: 1px solid var(--black);
  padding: 12px;
  width: 121px;
  height: 48px;
  background-color: var(--black);
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: var(--white);
  text-align: start;
}

tr td:first-child {
  background-color: var(--black-25);
}
